body {
    background-image: url(https://www.zastavki.com/pictures/originals/20213D-graphics_World_wide_web_with_blue_wave_on_white_background_157117_.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

header {
    background: rgb(52, 52, 52);
    color: white;
    text-align: center;
    font-size: 64px;
}

footer {
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 32px;
    background: rgb(52, 52, 52);
}

.lr {
    margin-top: 10px;
    white-space: pre-wrap;
    border-bottom: solid rgb(52, 52, 52);
}

.lr p2 {
    color: white;
    margin: 0;
    margin-bottom: 20px;
}
